/* styles.css */
.supplier-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: 10px;
   /* border: 1px solid #34c3ff;
    border-radius: 20px;*/
  }
  
  .supplier-list {
    width: 200px;
    border: 1px solid #34c3ff;
    border-radius: 20px;
    
  }
  
  .supplier-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size:larger;

  }
  
  .supplier-item.selected {
    background-color: #9de46d;
    border-radius: 10px;
  }
  
  .supplier-info {
    flex: 1;
  }
  .verment {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  .supplier-infodetail {
    margin: 5px;
    border: 1px solid #34c3ff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 30px;
  }
  .transaction-list {
    border: 1px solid #34c3ff;
    
    margin: 5px;
    border-radius: 15px;
  }
  .filtre {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  }
  .placeholder {
    text-align: left;
    margin-top: 50px;
  }